<div
  ng-class="{'navbar-toggler hamburger hamburger-close navbar-toggler-left hided' : !sideMenuOpen , 'navbar-header' : sideMenuOpen}"
>
  <button
    type="button"
    class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
    data-toggle="menubar"
  >
    <span class="sr-only">Toggle navigation</span>
    <span class="hamburger-bar"></span>
  </button>
  <button type="button" class="navbar-toggler">
    <i class="icon wb-more-horizontal" aria-hidden="true"></i>
  </button>
  <div
    ng-class="{'navbar-brand navbar-brand-center site-gridmenu-toggle active' : !sideMenuOpen , 'navbar-brand navbar-brand-center site-gridmenu-toggle' : sideMenuOpen}"
    data-toggle="gridmenu"
  >
    <img
      class="navbar-brand-logo"
      src="/assets/images/logo@1x.png"
      title="Logo"
    />
    <span class="navbar-brand-text hidden-xs-down">
      {{ vm.pageContent.appName }}</span
    >
  </div>
</div>

<div class="navbar-container container-fluid">
  <!-- Navbar Collapse -->
  <div
    class="collapse navbar-collapse navbar-collapse-toolbar"
    id="site-navbar-collapse"
  >
    <!-- Navbar Toolbar -->
    <ul class="nav navbar-toolbar">
      <li class="nav-item hidden-float" id="toggleMenubar">
        <a
          class="nav-link"
          data-toggle="menubar"
          role="button"
          ng-click="toggleSideMenu()"
        >
          <i class="icon hamburger hamburger-arrow-left">
            <span class="sr-only">Toggle menubar</span>
            <span class="hamburger-bar"></span>
          </i>
        </a>
      </li>
    </ul>
    <!-- End Navbar Toolbar -->

    <!-- Navbar Toolbar Right -->
    <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
      <li class="nav-item dropdown">
        <a
          class="nav-link"
          data-toggle="dropdown"
          ui-sref="app.pending"
          title="Pending Orders"
          aria-expanded="false"
          data-animation="scale-up"
          role="button"
        >
          <i class="icon wb-grid-9" aria-hidden="true"></i>
          <span class="badge badge-pill badge-success up">New</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link"
          data-toggle="dropdown"
          href="javascript:void(0)"
          title="Notifications"
          aria-expanded="false"
          data-animation="scale-up"
          role="button"
        >
          <i class="icon wb-bell" aria-hidden="true"></i>
          <span class="badge badge-pill badge-danger up">{{
            userNotifications.count
          }}</span>
        </a>
        <div
          class="dropdown-menu dropdown-menu-right dropdown-menu-media"
          role="menu"
        >
          <div class="dropdown-menu-header">
            <h5>NOTIFICATIONS</h5>
          </div>

          <div class="list-group">
            <div data-role="container">
              <div data-role="content">
                <a
                  class="list-group-item dropdown-item"
                  href="javascript:void(0)"
                  ng-repeat="not in userNotifications.notifications"
                  role="menuitem"
                  ng-click="showNotification(not)"
                >
                  <div class="media">
                    <div class="pr-10">
                      <i
                        class="icon wb-order bg-red-600 white icon-circle"
                        aria-hidden="true"
                      ></i>
                    </div>
                    <div class="media-body">
                      <h6 class="media-heading">{{ not.title }}</h6>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="dropdown-menu-footer">
            <a
              class="dropdown-menu-footer-btn"
              href="javascript:void(0)"
              role="button"
            >
              <i class="icon wb-settings" aria-hidden="true"></i>
            </a>
            <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
              All notifications
            </a>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link navbar-avatar"
          data-toggle="dropdown"
          aria-expanded="false"
          data-animation="scale-up"
          role="button"
        >
          <span class="avatar avatar-online">
            <img src="/assets/images/avatar.png" alt="User" />
            <i></i>
          </span>
        </a>
        <div class="dropdown-menu" role="menu">
          <a class="dropdown-item" ui-sref="app.profile" role="menuitem"
            ><i class="icon wb-user" aria-hidden="true"></i> Profile</a
          >
          <div class="dropdown-divider" role="presentation"></div>
          <a class="dropdown-item" ng-click="logout()" role="menuitem"
            ><i class="icon wb-power" aria-hidden="true"></i> Logout</a
          >
        </div>
      </li>
    </ul>
    <!-- End Navbar Toolbar Right -->
  </div>
  <!-- End Navbar Collapse -->
</div>
