<div ng-init="vm.getAgentById(ngDialogData.agentId);">
    <h4 class="form-title">{{ ngDialogData.title }}</h4>
    <hr />
    <form autocomplete="off" id="editAgent" name="editAgent" novalidate>
        <div class="form-row">
            <div class="form-group has-feedback col-12">
                <label for="agentName" class="form-control-label">Agent Name</label>
                <input class="form-control " id="agentName" placeholder="Name" ng-model="vm.agentById.name" name="agentName" autocomplete="off" required />
                <div class="errorMessage">
                    <p ng-show="editAgent.agentName.$touched && editAgent.agentName.$error.required" class="badge badge-danger">
                        Agent Name is required.
                    </p>
                    <p ng-show="vm.errors.name" class="badge badge-danger">
                        {{ vm.errors.name }}
                    </p>
                </div>
            </div>
            <div class="form-group has-feedback col-12">
                <label for="address" class="form-control-label">Agent Address</label>
                <input class="form-control " id="address" placeholder="Shop address" ng-model="vm.agentById.address" name="address" autocomplete="off" required />
                <div class="errorMessage">
                    <p ng-show="editAgent.address.$touched && editAgent.address.$error.required" class="badge badge-danger">
                        Agent address is required.
                    </p>
                    <p ng-show="vm.errors.address" class="badge badge-danger">
                        {{ vm.errors.address }}
                    </p>
                </div>
            </div>

            <div class="form-group has-feedback col-12">
                <label for="city" class="form-control-label">Based City</label>
                <select required class="form-control" ng-model="vm.agentById.city_id">
          <option ng-repeat="city in ngDialogData.cities" value="{{city.id}}">{{city.name}}</option>
        </select>
                <div class="errorMessage">
                    <p ng-show="editAgent.city.$touched && editAgent.city.$error.required" class="badge badge-danger">
                        Agent City is required.
                    </p>
                    <p ng-show="vm.errors.city_id" class="badge badge-danger">
                        {{ vm.errors.city_id }}
                    </p>
                </div>
            </div>

            <div class="form-group has-feedback col-12">
                <label for="contact_number" class="form-control-label">Contact Number</label
        >
        <input
          class="form-control "
          id="contact_number"
          placeholder=""
          ng-model="vm.agentById.contact_number"
          name="contact_number"
          autocomplete="off"
          required
        />
        <div class="errorMessage">
          <p
            ng-show="editAgent.contact_number.$touched && editAgent.contact_number.$error.required"
            class="badge badge-danger"
          >
            Contact number are required.
          </p>
          <p ng-show="vm.errors.contact_number" class="badge badge-danger">
            {{ vm.errors.contact_number }}
          </p>
        </div>
      </div>

      <div class="form-group has-feedback col-12">
        <label for="contact_person" class="form-control-label"
          >Contact Person Name</label
        >
        <input
          class="form-control "
          id="contact_person"
          placeholder=""
          ng-model="vm.agentById.contact_person"
          name="contact_person"
          autocomplete="off"
          required
        />
        <div class="errorMessage">
          <p
            ng-show="editAgent.contact_person.$touched && editAgent.contact_person.$error.required"
            class="badge badge-danger"
          >
            Contact person name is required.
          </p>
          <p ng-show="vm.errors.contact_person" class="badge badge-danger">
            {{ vm.errors.contact_person }}
          </p>
        </div>
      </div>

      <div class="form-group has-feedback col-12">
        <label for="delivery_charge" class="form-control-label"
          >Standard delivery charge</label
        >
        <input
          class="form-control "
          id="delivery_charge"
          placeholder=""
          ng-model="vm.agentById.delivery_charge"
          name="delivery_charge"
          autocomplete="off"
          required
        />
        <div class="errorMessage">
          <p
            ng-show="editAgent.delivery_charge.$touched && editAgent.delivery_charge.$error.required"
            class="badge badge-danger"
          >
            Delivery charge is required.
          </p>
          <p ng-show="vm.errors.delivery_charge" class="badge badge-danger">
            {{ vm.errors.delivery_charge }}
          </p>
        </div>
      </div>

      <div class="form-group has-feedback col-12">
        <label for="email" class="form-control-label">Email address</label>
                <input class="form-control " id="email" placeholder="" ng-model="vm.agentById.email" name="email" autocomplete="off" required />
                <div class="errorMessage">
                    <p ng-show="editAgent.email.$touched && editAgent.email.$error.required" class="badge badge-danger">
                        Email address is required.
                    </p>
                    <p ng-show="vm.errors.email" class="badge badge-danger">
                        {{ vm.errors.email }}
                    </p>
                </div>
            </div>

            <div class="form-group has-feedback col-12">
                <label for="password" class="form-control-label">Password</label>
                <input class="form-control " id="password" placeholder="" ng-model="vm.agentById.password" name="password" autocomplete="off" type="password" required />
                <div class="errorMessage">
                    <p ng-show="editAgent.password.$touched && editAgent.password.$error.required" class="badge badge-danger">
                        Password is required.
                    </p>
                    <p ng-show="vm.errors.password" class="badge badge-danger">
                        {{ vm.errors.password }}
                    </p>
                </div>
            </div>

            <div class="form-group has-feedback col-12">
                <label for="confirm_password" class="form-control-label">Password confirmation</label
        >
        <input
          class="form-control "
          id="confirm_password"
          placeholder=""
          ng-model="vm.agentById.confirm_password"
          name="confirm_password"
          autocomplete="off"
          type="password"
          required
        />
        <div class="errorMessage">
          <p
            ng-show="editAgent.confirm_password.$touched && editAgent.confirm_password.$error.required"
            class="badge badge-danger"
          >
            Password confirmation is required.
          </p>
          <p ng-show="vm.errors.confirm_password" class="badge badge-danger">
            {{ vm.errors.confirm_password }}
          </p>
        </div>
      </div>

      <div class="form-group has-feedback col-12">
        <label for="description" class="form-control-label">Image</label>
                <div class="avatar-upload">
                    <div class="avatar-edit">
                        <div class="file-upload-wrapper" data-text="Select your file!">
                            <input name="file-upload-field" id="imageUpload" type="file" class="file-upload-field" ng-file-select="onFileSelect($files)" accept=".png, .jpg, .jpeg" ng-model="vm.imageSrc" />
                        </div>
                        <label for="imageUpload"></label>
                    </div>
                    <div class="avatar-preview">
                        <img id="imagePreview" ng-src="{{ vm.imageSrc }}" on-error-src="/assets/images/default.jpg" />
                    </div>
                </div>

                <div class="errorMessage">
                    <p ng-show="editAgent.image.$touched && editAgent.image.$error.required" class="badge badge-danger">
                        Image cant be empty
                    </p>
                    <p ng-show="vm.errors.image" class="badge badge-danger">
                        {{ vm.errors.image }}
                    </p>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="modal-footer col-12">
                <button type="button" class="btn btn-default" ng-click="vm.closePopUp()" data-dismiss="modal">
          Cancel
        </button>

                <button type="button" id="submit" class="btn btn-success" ng-click="vm.updateAgent(vm.agentById)" ng-disabled="editAgent.description.$invalid || editAgent.agentName.$invalid || vm.submitting">
          {{ ngDialogData.saveBtn }}
        </button>
            </div>
        </div>
    </form>
</div>