<div ng-include="vm.pageContent.customHeaderUrl" class="header_wrap"></div>
<div class="container">
  <div class="content_container_wrap col-md-12 col-md-offset-3">
    <section class="error_content">
      <h1 style="color: #AFAFAB !important;font-weight: bold">
        Not found <span>:(</span>
      </h1>
      <h5 style="color: #AFAFAB !important;">
        Sorry, the page you were trying to view does not exist.
      </h5>
      <br /><br /><br /><br /><br/></br/><br/><br/><br/>
      <p>
        <a
          href="#"
          class="btn btn-primary btn-lg"
          ui-sref="app.main"
          role="button"
          >Go back to main page</a
        >
      </p>
      <div class="clearfix"></div>
    </section>
  </div>
</div>
<div
  ng-include="vm.pageContent.customFooterUrl"
  class="error_footer_wrap"
></div>
