<div>
  <h4 class="form-title">Forgot Password ?</h4>
  <hr />
  <form name="forgetForm">
    <input
      type="email"
      class="input form-control login-input"
      id="email"
      name="emailAddress"
      ng-model="vm.email"
      placeholder="Email Address"
      ng-pattern="/^[aA-zZ]+[aA-zZ0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
      required
      style="width: 100%;"
    />
    <div class="errorMessage">
      <p
        ng-show="forgetForm.emailAddress.$touched &&  forgetForm.emailAddress.$error.required "
        class="badge badge-danger"
      >
        Email address is required
      </p>
      <p
        ng-show="forgetForm.emailAddress.$touched && !forgetForm.emailAddress.$valid"
        class="badge badge-danger"
      >
        Not a valid email address
      </p>
      <p ng-show="vm.errors.email" class="badge badge-danger">
        {{ vm.errors.email }}
      </p>
    </div>
    <br />
    <button
      type="submit"
      data-dismiss="modal"
      class="btn btn-success floatR"
      ng-click="vm.resetPassword(vm.email)"
    >
      Send Reset Email
    </button>
  </form>
</div>
