<div class="container">
    <h5 style="text-align: center; color:green" ;>Your session has expired</h5>
    <h5 style="text-align: center; color:green" ;>Do you want to stay ?</h5>
    <div style="text-align: center">
        <button style=" margin:auto;
  display:inline-block;background-color: lightgreen;border-radius: 10px;outline: 0;font-size:x-small"
                ng-click="dialogClose()">Stay
        </button>
        <button style=" margin:auto;
  display:inline-block;background-color: lightgreen;border-radius: 10px;outline: 0;font-size:x-small"
                ng-click="logout()">Leave
        </button>
    </div>
</div>